@import 'variables';


.navbar{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 22px 50px;
    position: fixed;
    top: 0;
    transition-duration: .5s;
    width: 100%;
    z-index: 10;
        .logo{
            img{
                width: 65px;
                height: 55px;
            }
        }

    
        .navbar-toggle{
            align-items: center;
            cursor: pointer;
            display: flex;
            position: relative;
            z-index: 1;

            .toggle-icon{
                margin-right: 10px;
                .toggle-line{
                    background-color: $secondry-color;
                    height: 2px;
                    position: relative;
                    transition: .5s;
                    width: 25px;
                    &:first-of-type,
                    &:nth-of-type(3){
                        transform: scaleX(.5);
                    }
                    &:first-of-type{
                        transform-origin: left;
                    }
                    &:nth-of-type(2) {
                        width: 25px;
                    }
                    &:not(:first-child) {
                        margin-top: 5px;
                    }
                    &:nth-of-type(3) {
                        transform-origin: right;
                    }
                }
            }
            &:hover {
                .toggle-line:first-of-type{
                    transform: scale(0.2,1.7) translateY(4px);
                }
            }
            &:hover {
                .toggle-line:nth-of-type(2),.toggle-line:nth-of-type(3){
                    border-radius: 3px;
                    transform: scale(0.2,1.7);
                }
            }
            &:hover {
                .toggle-line:nth-of-type(3){
                    transform: scale(0.2,1.7) translateY(-4px);
                }
            }

            .toggle-text{
                $animate-trans: translateY(5px) rotateX(75deg);
                position: relative;
                color: rgba(255, 255, 255, 0.68);

                div{
                    transition: all .3s ease-in-out;
                }
                .text-menu{
                    scale: 1;
                }
                .text-open,
                .text-close{
                    position: absolute;
                    top: 0;
                    left: 0;
                    scale: 0;
                    will-change: transform;

                }
            }

            &:hover {
                .text-menu{
                    scale: 0;
                    transform: $animate-trans;
                }
                &.open{
                    .text-close{
                        scale: 1;
                        transform: none;
                    }
                }
                &:not(.open){
                    .text-open{
                        scale: 1;
                        transform: none;
                    }
                }
            }
            &.open .toggle-line:first-of-type{
                transform: scale(1) rotate(45deg)!important;
                transform-origin: bottom!important;
            }
            &.open .toggle-line:nth-of-type(2){
                display: none;
                transform: scale(0)!important;
            }
            &.open .toggle-line:nth-of-type(3){
                transform: scale(1) rotate(-45deg)!important;
                transform-origin: top!important;
            }
            &.open .toggle-line:first-of-type, &.open .toggle-line:nth-of-type(3){
                margin-top: 0 !important;
            }
        }
}
