@import 'variables';


.navbar{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 22px;
    padding-top: 22px;
    position: fixed;
    top: 0;
    transition-duration: .5s;
    width: 100%;
    z-index: 10;
        .logo{
            img{
                width: 50px;
                height: 50px;
            }
        }

        .navbar-toggle{
            .toggle-icon{
                cursor: pointer;
                .toggle-line-menu{
                    color: $primary-color;
                    background-color:$secondry-color;
                    height: 2px;
                    position: relative;
                    transition: .5s;
                    width: 25px;
                    &:first-of-type {
                        transform: scaleX(.5);
                        transform-origin: left;
                    }
                    &:nth-of-type(2){
                        width: 25px;
                    }
                    &:nth-of-type(3){
                        transform: scaleX(.5);
                        transform-origin: right;
                    }
                    &:not(:first-child) {
                        margin-top: 5px;
                    }
                }
            }

            .toggle-text{
                span{
                    color: $secondry-color;
                }

                     position: relative;
                    background: transparent;
                    border-radius:10px ;
                    cursor: pointer;
                    display: flex;
                    
            
                
            
                &.active{
                    background-color: transparent;
                }
                & .toggle-icon{
                    position: absolute;
                    color: black;
                    font-size: 34px;
                    display: none;
                }
            
                &.toggle-icon.Menu,
                &.active .toggle-icon.Close
                {
                    display: block;
                }
            
                &.active .toggle-icon.Menu,
                &.toggle-icon.Close
                {
                    display:none;
                }
            
            }
        }
}
