@mixin res($screen){
    @media screen and (max-width: $screen){
        @content;
    }
}
.section-about{
    padding: 40px;
    @include res($screen-sm-min){
        padding: 20px;
    }
    .box-text{
        position: relative;
        z-index: 1;
        h2{
            margin-top: 5%;
            font-size: $title-section;
            letter-spacing: .01em;
            line-height: 42px;
            white-space: pre-line;
            margin-bottom: 40px;
            margin-right: -70px;
            text-align: right;
            color: $secondry-color;
            font-weight: 700;
            text-transform: uppercase;
            @include res($screen-sm-min){
                font-size: $title-block;
                text-align: left;
                margin-right: 0;
            }
        }
        h5{
            margin-bottom: 5%;
            font-size: $title-block;
            text-transform: uppercase;
            color: $blue-color;
            font-weight: 600;
        }
        p{
            color: $p-dark;
            font-size: 15px;
            line-height: 25px;
            @include res($screen-sm-min){
                font-size: 12px;
            }
        }

        .experience{
            margin-top: 4%;
            align-items: center;
            display: flex;
            .number{
                color: $secondry-color;
                font-size: 120px;
                font-weight: 700;
                line-height: 90px;
                margin-right: 20px;
                @include res($screen-sm-min){
                    font-size: 60px;
                    text-align: left;
                }
            }
            .year{
                font-size: 20px;
                color: $orange-color;
                font-weight: 700;
                margin-top: 10px;
            }
        }
    }

    .box-img{
        padding: 80px;
        text-align: center;
        background-color: $bg-dark ;
        @include res($screen-sm-min){
            padding: 30px;
        }
        img{
            @include res($screen-sm-min){
                width: 200px;
            }
        }
        
    }
}