.section-service{
    padding: 40px;
    .service-head{
        p{
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
            padding-left: 70px;
            position: relative;
            text-transform: uppercase;
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: $orange-color;
                border-radius: 50%;
                height: 5px;
                left: 0;
                width: 5px;
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                background: $orange-color;
                height: 1px;
                left: 5px;
                width: 55px;
            }
        }
        h2{
            font-size: $title-section;
            color: $secondry-color;
            margin-bottom: 5%;
        }

    }
    .box{
        margin-bottom: 5%;
        img{
            border-radius: 50%;
            padding-bottom: 15px;
        }
        h4{
            a{
                text-decoration: none;
                font-size: $title-block;
                color: $blue-color;
            }
        }
        p{
            width: 70%;
            color: $secondry-color;
            font-size: 15px;
            line-height: 25px;
        }
    }


    .Oservices{
        margin-top: 10%;
        .bgservice{
            img{
                top: 10%;
                position: absolute;
                z-index: 10;
            }
        }
        .text-bgservice{
            background: #090909;
            padding: 150px;
            h2{
                font-size: $title-section;
                color: $secondry-color;
                margin-bottom: 5%;
            }
            p{
                color: $secondry-color;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}