@import './variables';
@mixin res($screen){
    @media screen and (max-width: $screen){
        @content;
    }
}
.section-activitie{
    padding: 40px;
    .service-head{
        h2{
            margin-top: 5%;
            font-size: $title-section;
            letter-spacing: .01em;
            line-height: 42px;
            margin-bottom: 40px;
            color: $secondry-color;
            font-weight: 700;
            text-transform: uppercase;
            @include res($screen-sm-min){
                font-size: $title-block;
            }
        }

    }

    .actCard{
        border-radius: 15px;
        display: block;
        position: relative;
        cursor: pointer;
        &:hover{
            filter: drop-shadow(0 0 30px rgba(255,74,23,.5));
            transition: .5s;
        }
        @include res($screen-sm-min){
            margin-bottom: 7%;
        }
        @include res($screen-md-min){
            margin-bottom: 7%;
        }
        img{
            width: 200px;
            height: 150px;
            object-fit: cover;
            border-radius: 15px;
            @include res($screen-sm-min){
                width: 300px;
                height: 200px;
            }
            @include res($screen-md-min){
                width: 300px;
                height: 200px;
            }
        }
        .text-card{
            left: 0;
            padding: 45px 25px 0;
            position: absolute;
            top: 0;
            p{
                font-size: 18px;
                font-weight: 800;
                line-height: 1.5em;
                margin: 0;
                color: rgb(222, 217, 217);
            }
        }
    }  
    .cardright{
        @include res($screen-md-min);@include res($screen-lg-min){
            float: right;
        }
    }

}