@import './variables';
@mixin res($screen){
    @media screen and (max-width: $screen){
        @content;
    }
}
.section-sector{
    padding: 40px;
    .slider-wrap1{
        margin-top: 5%;
        ul{
            li{
                width: 535.6px;
                margin-right: 30px;
                img{
                    width: 490px;
                    height: 300px;
                    object-fit: cover;
                    @include res($screen-md-min){
                        width: 350px;
                        height: 180px;
                    }
                }
                .text-item{
                    bottom: 50px;
                    margin-bottom: -50px;
                    margin-left: 50px;
                    padding: 25px;
                    position: relative;
                    z-index: 1;
                    background : $bg-dark;
                    @include res($screen-md-min){
                        padding: 15px;
                    }
                    h4{
                        font-size: $title-block;
                        font-weight: 600;
                        letter-spacing: 2.5px;
                        color: $secondry-color;
                        @include res($screen-sm-min){
                            font-size: 12px;
                        }
                    }
                    p{
                        margin-top: 15px;
                        color: $p-dark;
                        @include res($screen-sm-min){
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}