@mixin res($screen){
    @media screen and (max-width: $screen){
        @content;
    }
}
.section-service{
    padding: 40px;
    @include res($screen-sm-min){
        padding: 20px;
    }
    .service-head{
        p{
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
            padding-left: 70px;
            position: relative;
            text-transform: uppercase;
            color: $p-dark;
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: $orange-color;
                border-radius: 50%;
                height: 5px;
                left: 0;
                width: 5px;
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: $orange-color;
                height: 1px;
                left: 5px;
                width: 55px;
            }
        }
        h2{
            font-size: $title-section;
            color: $secondry-color;
            margin-top: 5%;
            font-size: 42px;
            letter-spacing: .01em;
            line-height: 42px;
            margin-bottom: 40px;
            font-weight: 700;
            text-transform: uppercase;
            @include res($screen-sm-min){
                font-size: $title-block;
            }
        }

    }
    .box{
        margin-bottom: 5%;
        @include res($screen-sm-min){
            text-align: center;
        }
        img{
            border-radius: 50%;
            padding-bottom: 15px;
        }
        h4{
            a{
                text-decoration: none;
                font-size: $title-block;
                color: $blue-color;
            }
        }
        p{
            width: 70%;
            color: $p-dark;
            font-size: 15px;
            line-height: 25px;
            @include res($screen-sm-min){
                width: 100%;
                font-size: 12px;
            }
        }
    }


    .Oservices{
        margin-top: 10%;
        .bgservice{
            img{
                top: 10%;
                position: absolute;
                z-index: 10;
                @include res($screen-sm-min){
                    width: 300px;
                    position: relative;
                    margin-bottom: 5%;
                    background-color: $bg-dark ;
                    padding: 25px;
                    width: 90%;
                }
            }
        }
        .text-bgservice{
            background: $bg-dark ;
            padding: 150px;
            @include res($screen-sm-min){
                padding: 12px;
            }
            h2{
                font-size: $title-section;
                color: $secondry-color;
                margin-top: 5%;
                font-size: 42px;
                letter-spacing: .01em;
                line-height: 42px;
                margin-bottom: 40px;
                font-weight: 700;
                text-transform: uppercase;
                @include res($screen-sm-min){
                    font-size: 22px;
                }
            }
            p{
                color: $p-dark;
                font-size: 15px;
                line-height: 25px;
                @include res($screen-sm-min){
                    font-size: 12px;
                }
            }
        }
    }
}