$primary-color : #000;
$secondry-color : #fff;
$orange-color : #ed6805;
$blue-color:#322c83;
$title-section : 42px;
$title-block : 22px;
$font-weight-body:500;
$font-weight-heading:700;
$animate-trans:translateY(5px) rotateX(75deg);