$primary-color : #000;
$secondry-color : #fff;
$orange-color : #ed6805;
$blue-color:#322c83;
$bg-dark : #090909;
$bg-light : #c7c5c5;
$p-dark : hsla(0,0%,100%,.68);
$p-light : #0009;
$title-section : 42px;
$title-block : 22px;
$font-weight-body:500;
$font-weight-heading:700;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

