body:not(.overflow) .navbar-menu {
  overflow: hidden;
}

body.overflow {
  overflow: hidden;
}

.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 50px;
  position: fixed;
  top: 0;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  width: 100%;
  z-index: 10;
}

.navbar .logo img {
  width: 65px;
  height: 55px;
}

.navbar .navbar-menu .flex {
  padding: 70px;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  position: absolute;
  background: #000;
  z-index: 1;
  top: 0;
  right: 0;
  display: block;
  left: -12px;
  max-height: calc(100vh - 80px);
  overflow: auto;
  width: 100vw;
}

.navbar .navbar-menu .flex.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar .navbar-menu .flex .left {
  float: left;
  width: 50%;
  border-right: 1px solid #ed6805;
}

@media screen and (max-width: 576px) {
  .navbar .navbar-menu .flex .left {
    width: 100%;
    float: none;
    border-right: none;
    border-bottom: 1px solid #ed6805;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-menu .flex .left {
    width: 100%;
    float: none;
    border-right: none;
    border-bottom: 1px solid #ed6805;
  }
}

.navbar .navbar-menu .flex .left li {
  margin-bottom: 6%;
}

.navbar .navbar-menu .flex .left li a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .navbar .navbar-menu .flex .left li a {
    font-size: 20px;
  }
}

.navbar .navbar-menu .flex .left li a span {
  font-weight: 700;
  font-size: 10px;
  color: #ed6805;
}

.navbar .navbar-menu .flex .left .menu-item-child {
  position: relative;
}

.navbar .navbar-menu .flex .left .menu-item-child .arrow {
  height: 30px;
  position: absolute;
  right: 15px;
  top: 7px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.68);
  cursor: pointer;
}

.navbar .navbar-menu .flex .left .menu-item-child .arrow.show + ul {
  display: block;
}

.navbar .navbar-menu .flex .left .menu-item-child .submenu {
  display: none;
  padding-left: 60px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar .navbar-menu .flex .left .menu-item-child .submenu li {
  margin: 15px;
}

.navbar .navbar-menu .flex .left .menu-item-child .submenu li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}

@media screen and (max-width: 576px) {
  .navbar .navbar-menu .flex .left .menu-item-child .submenu li a {
    font-size: 12px;
  }
}

.navbar .navbar-menu .flex .left .menu-item-child .submenu li a span {
  font-weight: 700;
  font-size: 8px;
  color: #ed6805;
}

.navbar .navbar-menu .flex .right {
  float: right;
  width: 35%;
}

@media screen and (max-width: 576px) {
  .navbar .navbar-menu .flex .right {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-menu .flex .right {
    float: none;
    width: 100%;
  }
}

.navbar .navbar-menu .flex .right .box-nav {
  margin-bottom: 6%;
}

.navbar .navbar-menu .flex .right .box-nav span {
  color: #ed6805;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .navbar .navbar-menu .flex .right .box-nav span {
    font-size: 12px;
  }
}

.navbar .navbar-menu .flex .right .box-nav a, .navbar .navbar-menu .flex .right .box-nav p {
  margin-top: 2%;
  width: 65%;
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 3;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .navbar .navbar-menu .flex .right .box-nav a, .navbar .navbar-menu .flex .right .box-nav p {
    font-size: 7px;
  }
}

.navbar .navbar-toggle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.navbar .navbar-toggle .toggle-icon {
  margin-right: 10px;
}

.navbar .navbar-toggle .toggle-icon .toggle-line {
  background-color: #fff;
  height: 2px;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  width: 25px;
}

.navbar .navbar-toggle .toggle-icon .toggle-line:first-of-type, .navbar .navbar-toggle .toggle-icon .toggle-line:nth-of-type(3) {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.navbar .navbar-toggle .toggle-icon .toggle-line:first-of-type {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .navbar-toggle .toggle-icon .toggle-line:nth-of-type(2) {
  width: 25px;
}

.navbar .navbar-toggle .toggle-icon .toggle-line:not(:first-child) {
  margin-top: 5px;
}

.navbar .navbar-toggle .toggle-icon .toggle-line:nth-of-type(3) {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.navbar .navbar-toggle:hover .toggle-line:first-of-type {
  -webkit-transform: scale(0.2, 1.7) translateY(4px);
          transform: scale(0.2, 1.7) translateY(4px);
}

.navbar .navbar-toggle:hover .toggle-line:nth-of-type(2), .navbar .navbar-toggle:hover .toggle-line:nth-of-type(3) {
  border-radius: 3px;
  -webkit-transform: scale(0.2, 1.7);
          transform: scale(0.2, 1.7);
}

.navbar .navbar-toggle:hover .toggle-line:nth-of-type(3) {
  -webkit-transform: scale(0.2, 1.7) translateY(-4px);
          transform: scale(0.2, 1.7) translateY(-4px);
}

.navbar .navbar-toggle .toggle-text {
  position: relative;
  color: rgba(255, 255, 255, 0.68);
}

.navbar .navbar-toggle .toggle-text div {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar .navbar-toggle .toggle-text .text-menu {
  scale: 1;
}

.navbar .navbar-toggle .toggle-text .text-open,
.navbar .navbar-toggle .toggle-text .text-close {
  position: absolute;
  top: 0;
  left: 0;
  scale: 0;
  will-change: transform;
}

.navbar .navbar-toggle:hover .text-menu {
  scale: 0;
}

.navbar .navbar-toggle:hover.open .text-close {
  scale: 1;
  -webkit-transform: none;
          transform: none;
}

.navbar .navbar-toggle:hover:not(.open) .text-open {
  scale: 1;
  -webkit-transform: none;
          transform: none;
}

.navbar .navbar-toggle.open .toggle-line:first-of-type {
  -webkit-transform: scale(1) rotate(45deg) !important;
          transform: scale(1) rotate(45deg) !important;
  -webkit-transform-origin: bottom !important;
          transform-origin: bottom !important;
}

.navbar .navbar-toggle.open .toggle-line:nth-of-type(2) {
  display: none;
  -webkit-transform: scale(0) !important;
          transform: scale(0) !important;
}

.navbar .navbar-toggle.open .toggle-line:nth-of-type(3) {
  -webkit-transform: scale(1) rotate(-45deg) !important;
          transform: scale(1) rotate(-45deg) !important;
  -webkit-transform-origin: top !important;
          transform-origin: top !important;
}

.navbar .navbar-toggle.open .toggle-line:first-of-type, .navbar .navbar-toggle.open .toggle-line:nth-of-type(3) {
  margin-top: 0 !important;
}

.section-about {
  padding: 40px;
}

@media screen and (max-width: 576px) {
  .section-about {
    padding: 20px;
  }
}

.section-about .box-text {
  position: relative;
  z-index: 1;
}

.section-about .box-text h2 {
  margin-top: 5%;
  font-size: 42px;
  letter-spacing: .01em;
  line-height: 42px;
  white-space: pre-line;
  margin-bottom: 40px;
  margin-right: -70px;
  text-align: right;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .section-about .box-text h2 {
    font-size: 22px;
    text-align: left;
    margin-right: 0;
  }
}

.section-about .box-text h5 {
  margin-bottom: 5%;
  font-size: 22px;
  text-transform: uppercase;
  color: #322c83;
  font-weight: 600;
}

.section-about .box-text p {
  color: rgba(255, 255, 255, 0.68);
  font-size: 15px;
  line-height: 25px;
}

@media screen and (max-width: 576px) {
  .section-about .box-text p {
    font-size: 12px;
  }
}

.section-about .box-text .experience {
  margin-top: 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-about .box-text .experience .number {
  color: #fff;
  font-size: 120px;
  font-weight: 700;
  line-height: 90px;
  margin-right: 20px;
}

@media screen and (max-width: 576px) {
  .section-about .box-text .experience .number {
    font-size: 60px;
    text-align: left;
  }
}

.section-about .box-text .experience .year {
  font-size: 20px;
  color: #ed6805;
  font-weight: 700;
  margin-top: 10px;
}

.section-about .box-img {
  padding: 80px;
  text-align: center;
  background-color: #090909;
}

@media screen and (max-width: 576px) {
  .section-about .box-img {
    padding: 30px;
  }
}

@media screen and (max-width: 576px) {
  .section-about .box-img img {
    width: 200px;
  }
}

.section-home .home-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 680px;
}

.section-home .head-content {
  top: 8%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  text-align: center;
}

.section-home .head-content .head-title {
  position: relative;
  margin-bottom: 5%;
}

.section-home .head-content .head-title h1 {
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 576px) {
  .section-home .head-content .head-title h1 {
    font-size: 30px;
    line-height: 30px;
  }
}

.section-home .head-content .head-title span {
  font-size: 70px;
  line-height: 70px;
  -webkit-clip-path: inset(58% 6px -10px);
          clip-path: inset(58% 6px -10px);
  color: #ed6805;
}

@media screen and (max-width: 576px) {
  .section-home .head-content .head-title span {
    font-size: 30px;
    line-height: 30px;
  }
}

.section-home .head-content .head-text {
  position: relative;
}

.section-home .head-content .head-text p {
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 576px) {
  .section-home .head-content .head-text p {
    font-size: 15px;
    line-height: 15px;
  }
}

.section-home .head-content .head-text span {
  font-size: 25px;
  line-height: 25px;
  -webkit-clip-path: inset(58% 0px -10px);
          clip-path: inset(58% 0px -10px);
  color: #322c83;
}

@media screen and (max-width: 576px) {
  .section-home .head-content .head-text span {
    font-size: 15px;
    line-height: 15px;
  }
}

.section-home .head-content span {
  color: #fff;
  margin-top: 5%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.2px;
  word-spacing: 2px;
}

.section-service {
  padding: 40px;
}

@media screen and (max-width: 576px) {
  .section-service {
    padding: 20px;
  }
}

.section-service .service-head h2 {
  font-size: 42px;
  color: #fff;
  margin-top: 5%;
  font-size: 42px;
  letter-spacing: .01em;
  line-height: 42px;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .section-service .service-head h2 {
    font-size: 22px;
  }
}

.section-service .box {
  margin-bottom: 5%;
}

@media screen and (max-width: 576px) {
  .section-service .box {
    text-align: center;
  }
}

.section-service .box img {
  border-radius: 50%;
  padding-bottom: 15px;
}

.section-service .box h4 {
  text-align: left;
}

.section-service .box h4 a {
  text-decoration: none;
  font-size: 22px;
  color: #322c83;
}

.section-service .box p {
  width: 70%;
  color: rgba(255, 255, 255, 0.68);
  font-size: 15px;
  line-height: 25px;
}

@media screen and (max-width: 576px) {
  .section-service .box p {
    width: 100%;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .section-service .box p {
    width: 100%;
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  .section-service .box p {
    width: 100%;
    font-size: 12px;
  }
}

.section-service .Oservices {
  margin-top: 10%;
}

.section-service .Oservices .bgservice img {
  top: 10%;
  position: absolute;
  z-index: 7;
  width: 580px;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .section-service .Oservices .bgservice img {
    position: relative;
    margin-bottom: 5%;
    background-color: #090909;
    padding: 25px;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .section-service .Oservices .bgservice img {
    width: 450px;
    height: 400px;
  }
}

@media screen and (max-width: 992px) {
  .section-service .Oservices .bgservice img {
    width: 350px;
    height: 250px;
  }
}

.section-service .Oservices .text-bgservice {
  background: #090909;
  padding: 150px;
  margin-bottom: 15%;
}

@media screen and (max-width: 768px) {
  .section-service .Oservices .text-bgservice {
    padding: 12px;
  }
}

@media screen and (max-width: 992px) {
  .section-service .Oservices .text-bgservice {
    padding: 20px;
    width: 50%;
    float: right;
  }
}

.section-service .Oservices .text-bgservice h2 {
  font-size: 42px;
  color: #fff;
  margin-top: 5%;
  font-size: 42px;
  letter-spacing: .01em;
  line-height: 42px;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .section-service .Oservices .text-bgservice h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .section-service .Oservices .text-bgservice h2 {
    font-size: 25px;
  }
}

.section-service .Oservices .text-bgservice p {
  color: rgba(255, 255, 255, 0.68);
  font-size: 15px;
  line-height: 25px;
}

@media screen and (max-width: 992px) {
  .section-service .Oservices .text-bgservice p {
    font-size: 12px;
  }
}

.section-activitie {
  padding: 40px;
}

.section-activitie .service-head h2 {
  margin-top: 5%;
  font-size: 42px;
  letter-spacing: .01em;
  line-height: 42px;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .section-activitie .service-head h2 {
    font-size: 22px;
  }
}

.section-activitie .actCard {
  border-radius: 15px;
  display: block;
  position: relative;
  cursor: pointer;
}

.section-activitie .actCard:hover {
  -webkit-filter: drop-shadow(0 0 30px rgba(255, 74, 23, 0.5));
          filter: drop-shadow(0 0 30px rgba(255, 74, 23, 0.5));
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 576px) {
  .section-activitie .actCard {
    margin-bottom: 7%;
  }
}

@media screen and (max-width: 768px) {
  .section-activitie .actCard {
    margin-bottom: 7%;
  }
}

.section-activitie .actCard img {
  width: 200px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

@media screen and (max-width: 576px) {
  .section-activitie .actCard img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .section-activitie .actCard img {
    width: 300px;
    height: 200px;
  }
}

.section-activitie .actCard .text-card {
  left: 0;
  padding: 45px 25px 0;
  position: absolute;
  top: 0;
}

.section-activitie .actCard .text-card p {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5em;
  margin: 0;
  color: #ded9d9;
}

@media screen and (max-width: 992px) {
  .section-activitie .cardright {
    float: right;
  }
}

.section-sector {
  padding: 40px;
}

.section-sector .slider-wrap1 {
  margin-top: 5%;
}

.section-sector .slider-wrap1 ul li {
  width: 535.6px;
  margin-right: 30px;
}

.section-sector .slider-wrap1 ul li img {
  width: 490px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .section-sector .slider-wrap1 ul li img {
    width: 350px;
    height: 180px;
  }
}

.section-sector .slider-wrap1 ul li .text-item {
  bottom: 50px;
  margin-bottom: -50px;
  margin-left: 50px;
  padding: 25px;
  position: relative;
  z-index: 1;
  background: #090909;
}

@media screen and (max-width: 768px) {
  .section-sector .slider-wrap1 ul li .text-item {
    padding: 15px;
  }
}

.section-sector .slider-wrap1 ul li .text-item h4 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2.5px;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .section-sector .slider-wrap1 ul li .text-item h4 {
    font-size: 12px;
  }
}

.section-sector .slider-wrap1 ul li .text-item p {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.68);
}

@media screen and (max-width: 576px) {
  .section-sector .slider-wrap1 ul li .text-item p {
    font-size: 11px;
  }
}

.section-contact {
  padding: 40px;
}

.section-contact .right {
  background: #090909;
  padding: 60px 30px;
}

.section-contact .right p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.68);
}

.section-contact .right h4 {
  color: #fff;
  margin-top: 5%;
  font-size: 22px;
  letter-spacing: .01em;
  line-height: 42px;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .section-contact .right h4 {
    font-size: 15px;
  }
}

.section-contact .right ul li {
  margin-bottom: 5%;
}

.section-contact .right ul li span {
  color: #ed6805;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  width: 130px;
  display: inline-block;
}

@media screen and (max-width: 576px) {
  .section-contact .right ul li span {
    width: 100%;
  }
}

.section-contact .right ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .section-contact .right {
    margin-bottom: 10%;
  }
}

.section-contact #map {
  margin-top: 5%;
}

.section-estimate {
  padding: 40px;
}

.section-estimate h2 {
  color: #fff;
  margin-top: 5%;
  font-size: 42px;
  letter-spacing: .01em;
  line-height: 42px;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-estimate h5 {
  color: #fff;
  margin-top: 5%;
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}

.section-estimate form label {
  width: 100%;
}

.section-home .home-img .bg-transp {
  height: 400px;
}

.section-home .head-content {
  top: -10%;
}

.section-service h4 {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

.section-service h5 {
  color: rgba(255, 255, 255, 0.68);
  font-size: 15px;
  line-height: 25px;
  margin-top: 3%;
  text-align: center;
}

.section-service .business h3 {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}

.section-service .business ul li {
  padding: 20px;
  border-bottom: 1px solid #322c83;
  color: rgba(255, 255, 255, 0.68);
  width: 50%;
}

@media screen and (max-width: 576px) {
  .section-service .business ul li {
    width: 100%;
  }
}

.section-service .partner h3 {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}

.section-service .partner .img-part {
  width: 100%;
}

.section-service .partner .img-part img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 30px;
}

.footer {
  position: relative;
  padding: 40px;
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 20px;
  }
}

.footer .blog {
  position: relative;
  margin-top: 5%;
}

.footer .blog h4 {
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}

.footer .blog h4::after {
  background-color: #ed6805;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 15px;
}

.footer .blog a, .footer .blog li, .footer .blog p {
  width: 65%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.68);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 3;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .footer .blog a, .footer .blog li, .footer .blog p {
    width: 100%;
    letter-spacing: 1px;
  }
}

.footer .copyright-footer {
  border-top: 1px solid rgba(232, 232, 232, 0.1);
  font-size: 14px;
  letter-spacing: 2.67px;
}

.footer .copyright-footer p {
  margin-top: 2%;
  width: 65%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.68);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 3;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .footer .copyright-footer p {
    text-align: center;
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #000;
}

.cursor {
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  mix-blend-mode: exclusion;
  pointer-events: none;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  width: 30px;
  z-index: 999999;
}

.title-section {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 70px;
  position: relative;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.68);
}

.title-section::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ed6805;
  border-radius: 50%;
  height: 5px;
  left: 0;
  width: 5px;
}

.title-section::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ed6805;
  height: 1px;
  left: 5px;
  width: 55px;
}

label {
  color: #fff;
  width: 120px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}

input, textarea {
  background-color: #090909;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 30px;
  margin-bottom: 3%;
  height: 40px;
}

button {
  background: #ed6805;
  padding: 10px;
  border: 1px solid #ed6805;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  top: 50px;
}

@media screen and (max-width: 992px) {
  button {
    top: 0;
  }
}

textarea {
  width: 566px;
  height: 170px;
  display: block;
  margin-bottom: 5%;
}

@media screen and (max-width: 576px) {
  textarea {
    width: 300px;
    height: 150px;
  }
}

select {
  width: 100%;
  background: #090909;
  color: #fff;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 3%;
}

a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */