@import './navbar';
@import './variables';
@import './section-about';
@import './section-home';
@import './section-service';
@import './footer';

*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: $primary-color;
}

.cursor {
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    mix-blend-mode: exclusion;
    pointer-events: none;
    position: fixed;
    transform: translate(-50%,-50%);
    transform-origin: left top;
    width: 30px;
    z-index: 999999;
}

